#spritec-container {
  background: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
}

.horizontal-label {
  line-height: 40px;
  margin-right: 4px;
  flex: 1;
  text-align: right;
}

.horizontal-input {
  flex: 2;
}

#spritec-canvas {
  background-image: url('../assets/transparent-bg.svg');
}

#import-panel {
  height: 100vh;
  overflow: auto;
}
