html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  height: 100vh;
}

.canvas-container {
  align-items: center;
  background: #b0bec5;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  /* Needed or else canvas container will never get smaller than canvas */
  overflow: hidden;
  user-select: none;
}

.canvas-container canvas {
  background-image: url('../assets/images/transparent-bg.svg');
}

.controls {
  background: #64b5f6;
  flex-shrink: 0;
  padding: 15px;
  min-width: 300px;
  width: 300px;
}
