html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  height: 100vh;
}

.canvas-container {
  align-items: center;
  background: #212121;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  /* Needed or else canvas container will never get smaller than canvas */
  overflow: hidden;
}

.canvas-container canvas {
  background: white;
}

.controls {
  background: #cfd8dc;
  flex-shrink: 0;
  padding: 15px;
  min-width: 300px;
  width: 300px;
}
